# Ignorar entorno virtual
/venv/
/env/

# Ignorar archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar bases de datos locales de Django
db.sqlite3

# Archivos de medios subidos por usuarios (si no quieres versionarlos)
/media/

# Archivos de configuración con información sensible (si los tuvieras)
# Por ejemplo:
# settings_local.py

# Archivos de log
*.log
