<!-- inventario/templates/inventario/editoriales/formulario.html -->
{% extends "base.html" %} 

{% block title %}
    {% if form.instance.pk %}Editar Editorial{% else %}Crear Editorial{% endif %}
{% endblock %}

{% block content %}
<div>
    <div>
        <h2>
            {% if form.instance.pk %}Editar Editorial{% else %}Crear Nueva Editorial{% endif %}
        </h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} {# Renderiza el formulario como párrafos HTML simples #}
            <div>
                <button type="submit">Guardar Editorial</button>
                <a href="{% url 'listado_editoriales' %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}