<!-- inventario/templates/inventario/bodegas/formulario.html -->
{% extends "base.html" %}

{% block title %}
    {% if form.instance.pk %}Editar Bodega{% else %}Crear Bodega{% endif %}
{% endblock %}

{% block content %}
<div>
    <div>
        <h2>
            {% if form.instance.pk %}Editar Bodega{% else %}Crear Nueva Bodega{% endif %}
        </h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }} {# Renderiza el formulario como párrafos HTML simples #}
            <div>
                <button type="submit">Guardar Bodega</button>
                <a href="{% url 'listado_bodegas' %}">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}